.header{
    width: 100%;
    &__inner{
        padding: 1.6rem 0;
        display: flex;
        align-items: center;
        @include wide-pc{
            padding: 16px 0;
        }
        @include tab{
            padding: 1.2rem 0;
        }
    }
    &__logo{
        width: 42.4rem;
        @include wide-pc{
            width: 424px;
        }
        @include tab{
            width: 24.8rem;
        }
    }
    &__sns{
        margin-right: 3.2rem;
        margin-left: auto;
        @include wide-pc{
            margin-right: 32px;
        }
        @include tab{
            display: none;
        }
    }
    &__sns-item{
        margin-right: 1.6rem;
        @include wide-pc{
            margin-right: 16px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__search{
        @include tab{
            display: none;
        }
    }
}

//-------------------------------
//  search
//-------------------------------
@import '_search.scss';

//-------------------------------
//  sns
//-------------------------------
@import '_sns.scss';

//-------------------------------
//  global-navi
//-------------------------------
@import '_global-navi.scss';
