.search{
    width: 26.8rem;

    @include wide-pc{
        width: 268px;
    }
    &_size_l{
        width: 20rem;
        @include wide-pc{
            width: 200px;
        }
    }
    &__box{
        height: 3.8rem;
        border-radius: 1.9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 1.6rem;
        border: solid 1px $color-black;
        background-color: $color-search;
        @include wide-pc {
            height: 30px;
            border-radius: 80px;
            padding: 0 15px;
        }
    }
    &__input{
        @include font-style(1.4rem, $color-black, 700);
        display: inline-block;
        line-height: 1;
        max-width: 100%;
        @include wide-pc {
            font-size: 14px;
        }
    }
    &__submit{
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
    }
}