.sns{
    display: flex;
    &__item{
        display: inline-block;
        width: 32px;
        height: 32px;
        @include pc{
            width: 3.2rem;
            height: 3.2rem;

        }
    }
    &__link{
        display: inline-block;
        width: 32px;
        height: 32px;
        @include pc{
            width: 3.2rem;
            height: 3.2rem;

        }
    }
}