@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';
@import 'common/_animation';

//-------------------------------
//  All-page-common-css
//-------------------------------
html{
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1920 * 100) + vw;
    @include pc{
        font-size: calc(10 / 1200 * 100) + vw;
    }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 375 * 100) + vw;
    }
}
body{
    width: 100%;
    font-size: 1.6rem;
    font-family: $font;
    position: relative;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    // vertical-align: middle;
}
.wrapper{
    width: 100%;
    overflow: hidden;
}
.container{
    width: 1168px;
    margin: 0 auto;
    @include pc-tab{
        width: 84vw;
    }
    @include tab{
        width: 84vw;
    }
}
.br-pc{
    @include tab{
        display: none
    }
}
.br-sp{
    display: none;
    @include sp{
        display: block;
    }
}
//-------------------------------
//  Logo
//-------------------------------
.logo{
    width: 368px;
    @include pc{
        width: 36.8rem;
    }
    @include tab{
        width: 24.8rem;
    }
}
//-------------------------------
//  h2
//-------------------------------
.head-title{
    height: auto;
    position: relative;
    padding-left: 16px;
    display: inline-block;
    @include pc{
        padding-left: 1.6rem;
    }
    @include tab{
        padding-left: 1.2rem;
    }
    &:before{
        content: '';
        display: inline-block;
        width: 8px;
        height: 40px;
        border-radius: 4px;
        background-color: $color-green;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include pc{
            height: 4rem;
        }
        @include tab{
            width: 4px;
            border-radius: 2px;
        }
    }
}
.head-subtitle{
    @include font-style(14px, $color-black, bold);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 49px;
    margin-left: 34px;
    @include pc{
        font-size: 1.4rem;
        padding-left: 4.9rem;
        margin-left: 3.4rem;
    }
    @include tab{
        display: block;
        margin-left: 0;
        line-height: 1.5;
    }
    &:before{
        content: '';
        display: inline-block;
        width: 40px;
        height: 1px;
        background-color: $color-black;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include pc{
            width: 4rem;
        }
    }
}
.head-title-margin{
    margin-top: 10px;
    margin-bottom: 50px;
}
.head-title-margin_s{
    margin-bottom: 16px;
}
.underline{
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-green;
}

//-------------------------------
//  link-btn
//-------------------------------
.link-btn{
    @include font-style(16px, $color-white, bold);
    display: inline-block;
    text-align: center;
    width: 268px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    background-color: $color-link;
    transition: filter 0.3s ease;
    &:hover{
        filter: brightness(150%);
        transition: filter 0.3s ease;
        i{
            transition: transform 0.3s ease;
            transform: translateX(50%);
        }
    }
    @include pc{
        font-size: 1.6rem;
        width: 26.8rem;
        height: 4.8rem;
        line-height: 4.8rem;
        border-radius: 2.4rem;
        
    }
    i{
        margin-left: 8px;
        transition: transform 0.3s ease;
        @include pc{
            margin-left: 0.8rem;
        }
    }
    &_size_s{
        @include font-style(16px, $color-white, bold);
        display: block;
        text-align: center;
        width: 158px;
        height: 28px;
        line-height: 28px;
        border-radius: 14px;
        background-color: $color-link;
        @include pc{
            font-size: 1.6rem;
            width: 15.8rem;
            height: 2.8rem;
            line-height: 2.8rem;
            border-radius: 1.4rem;
        }
        @include sp{
            width: 14.4rem;
        }
    }
}

//-------------------------------
//  Section-margin
//-------------------------------
.section-margin{
    margin-bottom: 80px;
    @include pc{
        margin-bottom: 8rem;
    }
    &_size_s{
        margin-bottom: 40px;
        @include pc{
            margin-bottom: 4rem;
        }
    }
}
//-------------------------------
//  header
//-------------------------------
@import 'header/_header.scss';

//-------------------------------
//  main-visual
//-------------------------------
@import '_mainvisual.scss';

// Swiperの上書き用CSS
@import '_swiper.scss';

//-------------------------------
//  News
//-------------------------------
@import '_news.scss';

//-------------------------------
//  Type-select
//-------------------------------
.type-select{
    width: 100%;
    padding: 160px 0 155px 0;
    background-image: url('../images/background02.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include pc{
        background: #E0EBD1;
        padding: 5.6rem 0 4rem 0;
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 64px;
            height: 52px;
            position: absolute;
            background-image: url('../images/tree01.svg');
            top: 0;
            right: 0;
            transform: translate(-50%, -50%);
        }
        &:after{
            content: '';
            display: block;
            width: 64px;
            height: 46px;
            position: absolute;
            background-image: url('../images/tree02.svg');
            bottom: 0;
            left: 0;
            transform: translate(50%, 50%);
        }
    }
    @include tab{
        // padding: 7rem 0;
    }
    &__inner{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        @include sp{
            justify-content: center;
        }
    }
    &__type-card{
        @include pc{
            margin-bottom: 5.6rem;
        }
        @include sp{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.type-card{
    width: calc((100% - 96px)/4);
    display: block;
    background-color: #ABC94E;
    background-image: radial-gradient(#74A420 30%, transparent 30%),radial-gradient(#74A420 30%, transparent 30%);
    background-position: 0 0 , 8px 8px;
    background-size: 16px 16px;
    border-radius: 16px;
    padding: 0 8px 14px 8px;
    text-align: center;
    opacity: 1;
    box-shadow: none;
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
    @include pc{
        width: 26.8rem;
        background-position: 0 0 , 0.8rem 0.8rem;
        background-size: 1.6rem 1.6rem;
        border-radius: 1.6rem;
        padding: 0 0.8rem 1.4rem 0.8rem;
    }
    @include sp{
        width: 100%;
        height: 12.9rem;
        padding: 0rem 0.8rem 1.6rem 0.8rem;
    }
    &:hover{
        opacity: 0.8;
        box-shadow: 0 0 6px rgba(0, 0, 0, .26);
        transition: opacity 0.3s ease, box-shadow 0.3s ease;
        .type-card__figure{
            img{
                transform: scale(1.1);
                transition: transform 0.3s ease;
                
            }
        }
    }
    &__ribbon{
        width: 224px;
        height: 32px;
        display: inline-block;
        position: relative;
        transform: translateY(-50%);
        @include pc{
            width: 22.4rem;
            height: 3.2rem;
        }
        &:before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            transform: skew(-24deg);
            background-color: $color-link;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            transform: skew(24deg);
            background-color: $color-link;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__title{
        @include font-style(14px, $color-white, bold);
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        @include pc{
            font-size: 1.4rem;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        @include sp{
            flex-direction: row;
            justify-content: space-between;
            margin-top: -1rem;
        }
    }
    &__figure{
        width: 100%;
        height: 173px;
        margin-bottom: 8px;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        border-radius: 6px;
        @include pc{
            height: 17.3rem;
            margin-bottom: 0.8rem;
            border-radius: 0.6rem;
        }
        @include sp{
            width: calc(96.3%/2);
            height: 8.9rem;
            margin-bottom: 0;
        }
        img{
            transform: scale(1.0);
            transition: transform 0.3s ease;
        }
    }
    &__text{
        width: 100%;
        height: 68px;
        background-color: #FFF7DB;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include pc{
            height: 6.8rem;
            border-radius: 0.6rem;
        }
        @include sp{
            width: calc(96.3%/2);
            height: 8.9rem;
        }
    }
    &__sub-title01{
        width: 192px;
        @include pc{
            width: 19.2rem;
        }
        @include sp{
            width: 12.8rem;
        }
    }
    &__sub-title02{
        width: 130px;
        @include pc{
            width: 13rem;
        }
        @include sp{
            width: 9.6rem;
        }
    }
    &__sub-title03{
        width: 114px;
        @include pc{
            width: 11.4rem;
        }
        @include sp{
            width: 8rem;
        }
    }
    &__sub-title04{
        width: 160px;
        @include pc{
            width: 16rem;
        }
        @include sp{
            width: 10.6rem;
        }
    }
}
.sec__type-select{
    margin-bottom: 80px;
    @include pc{
        margin-bottom: 11.8rem;
    }
}

//-------------------------------
//  Contents
//-------------------------------
.contents{
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

//-------------------------------
//  Main
//-------------------------------
.main{
    width: 868px;
    @include pc{
        width: 100%;
    }
}

//////  Blog  ///////////////////
.blog{
    &__head{
        @include tab{
            margin-bottom: 2.4rem;
        }
    }
    &__head-title{
        width: 112px;
        @include pc{
            width: 11.2rem;
        }
        @include tab{
            width: 10.8rem;
            margin-bottom: 3.2rem;
        }
    }
    &__body{
        text-align: center;
    }
    &__items{
        text-align: center;
        position: relative;
    }
    &__swiper{
        overflow: visible;
        @include tab{
            width: 26.8rem;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include tab{
            width: 100%;
            flex-wrap: nowrap;
        }
    }
    &__link-btn{
        margin-top: 4rem;
        @include tab{
            margin-top: 7.4rem;
        }
    }
}
.blog-item{
    width: 268px;
    @include pc{
        width: 26.8rem;
    }
    &__body{
        opacity: 1;
        border-radius: 16px;
        border: solid 2px $color-black;
        background-color: $color-card-bg;
        position: relative;
        box-shadow: 0 0 6px rgba(0, 0, 0, .26);
        @include pc{
            border-radius: 1.6rem;
        }
    }
    &__category{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 102px;
        height: 32px;
        background-color: $color-green;
        z-index: 1;
        border-radius: 12px 0 0 0;
        @include font-style(14px, $color-white, bold);
        text-align: center;
        line-height: 32px;
        &:after{
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            border-top: solid 32px $color-green;
            border-right: solid 29px transparent;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 10;
            @include pc{
                width: 3.2rem;
                height: 3.2rem;
                border-top: solid 3.2rem $color-green;
                border-right: solid 2.9rem transparent;
            }
        }
        @include pc{
            width: 10.2rem;
            height: 3.2rem;
            border-radius: 1.2rem 0 0 0;
            line-height: 3.2rem;
            font-size: 1.4rem;
        }
    }
    &__figure{
        width: 100%;
        height: 174px;
        margin-bottom: 12px;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        border-radius: 12px;
        @include pc{
            height: 17.4rem;
            margin-bottom: 1.2rem;
            border-radius: 1.6rem;
        }
        img{
            transform: scale(1.0);
            transition: transform 0.3s ease;
        }
    }
    &__footer{
        padding: 0 16px 18px;
        @include pc{
            padding: 0 1.6rem 1.8rem;
        }
    }
    &__title{
        @include font-style(16px, $color-black, bold);
        line-height: 1.5;
        text-align: left;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 24px;
        @include pc{
            font-size: 1.6rem;
            margin-bottom: 2.4rem;
        }
    }
    &__meta{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    &__post-time{
        @include font-style(14px, $color-black, bold);
        line-height: 1;
        @include pc{
            font-size: 1.4rem;
        }
    }
    &__link{
        @include font-style(14px, $color-card-link, bold);
        @include pc{
            font-size: 1.4rem;
        }
        i{
            @include font-style(14px, $color-card-link, bold);
            margin-left: 6px;
            @include pc{
                font-size: 1.4rem;
                margin-left: 0.6rem;
            }
        }
    }
    &:hover{
        .blog-item__body{
            opacity: 0.8;
            box-shadow: 0 0 6px rgba(0, 0, 0, .26);
            transition: opacity 0.3s ease, box-shadow 0.3s ease;
        }
        .blog-item__figure{
            img{
                transform: scale(1.1);
                transition: transform 0.3s ease;
                
            }
        }
    }
}

//////  sub-navigation  ////////
.sub-navigation{
    display: flex;
    justify-content: space-between;
    @include tab{
        flex-direction: column;
    }
    &__box{
        background-color: $color-card-bg;
        border-radius: 16px;
        border: solid 2px $color-black;
        padding: 32px 24px 20px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.26);
        @include pc{
            border-radius: 1.6rem;
            padding: 3.2rem 2.4rem 2rem;
        }
        @include tab{
            padding: 3.2rem 1.6rem 1.8rem;
            margin-bottom: 4rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__head{
        margin-bottom: 20px;
        @include pc{
            margin-bottom: 2rem;
        }
        @include tab{
            margin-bottom: 1.8rem;
        }
    }
    &__categories{
        display: flex;
        flex-wrap: wrap;
    }
    &__category-item{
        margin: 4px 8px;
        @include pc{
            margin: 0.4rem 0.8rem;
        }
        @include tab{
            margin: 0.6rem 0.8rem;
        }
    }
}
.categories{
    width: 568px;
    @include pc{
        width: 62.5620%;
    }
    @include tab{
        width: 100%;
    }
    &__head-title{
        width: 153px;
    }
}
.category{
    @include font-style(14px, $color-white, normal);
    line-height: 24px;
    display: block;
    height: 24px;
    padding: 0 16px;
    background-color: $color-green;
    border-radius: 12px;
    @include pc{
        font-size: 1.4rem;
        line-height: 2.4rem;
        height: 2.4rem;
        padding: 0 1.6rem;
        border-radius: 1.2rem;
    }
}
.free-search{
    width: 268px;
    @include pc{
        width: 26.8rem;
    }
    @include tab{
        width: 100%;
    }
    &__head-title{
        width: 200px;
        @include pc{
            width: 20rem;
        }
    }
    &__lead-text{
        @include font-style(12px, $color-black, bold);
        line-height: 1.5;
        margin-bottom: 20px;
        @include pc{
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
        @include tab{
            margin-bottom: 3.8rem;
        }
    }
}

//////  tourism-info  //////////
.tourism-info{
    &__head{
        @include tab{
            margin-bottom: 2.4rem;
        }
    }
    &__head-title{
        width: 110px;
        @include pc{
            width: 11rem;
        }
        @include tab{
            width: 10.6rem;
            margin-bottom: 3.2rem;
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include sp{
            flex-direction: column;
        }
    }
    &__tourism-item{
        &:last-child{
            margin-bottom: 0;
        }
        @include tab{
            margin-bottom: 5.6rem;
        }
        @include sp{
            margin-bottom: 4rem;
        }
    }
}

.tourism-item{
    position: relative;
    width: 268px;
    height: 329px;
    @include pc{
        width: 26.8rem;
        height: 32.9rem;
    }
    @include sp{
        width: 100%;
        height: 14.5rem;
    }
    &__title{
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        top: -26px;
        left: -24px;
        @include pc{
            width: 8rem;
            height: 8rem;
            top: -2.9rem;
            left: -2.2rem;
        }
    }
    &__body{
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-color: $color-light-green;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.26);
        padding: 8px 8px 24px;
        opacity: 1;
        transition: opacity 0.3s ease, box-shadow 0.3s ease;
        @include pc{
            border-radius: 1.6rem;
            padding: 0.8rem 0.8rem 2.4rem;
        }
        @include sp{
            display: flex;
            justify-content: space-between;
            padding: 0.8rem;
        }
    }
    &__figure{
        width: 100%;
        height: 173px;
        margin-bottom: 17px;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        border-radius: 10px;
        @include pc{
            height: 17.3rem;
            margin-bottom: 1.7rem;
            border-radius: 1rem;
        }
        @include sp{
            width: calc(96.3%/2);
            height: 100%;
        }
        img{
            transform: scale(1.0);
            transition: transform 0.3s ease;
        }
    }
    &__footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 107px;
        @include pc{
            height: 10.7rem;
        }
        @include sp{
            width: calc(96.3%/2);
            height: 100%;
        }
    }
    &__description{
        @include font-style(16px, $color-black, bold);
        line-height: 1.5;
        @include pc{
            font-size: 1.6rem;
        }
        @include sp{
            font-size: 1.4rem;
        }
    }
    &__link{
        transition: filter 0.3s ease;
        margin: auto auto 0 auto;
        @include sp{
            margin: 0;
        }
    }
    &:hover{
        .tourism-item__body{
            opacity: 0.8;
            box-shadow: 0 0 6px rgba(0, 0, 0, .26);
            transition: opacity 0.3s ease, box-shadow 0.3s ease;
        }
        .tourism-item__figure{
            img{
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }
        }
        .tourism-item__link{
            filter: brightness(150%);
        }
    }
}

//////  Instagaram-feed  //////
.sns-field{
    &__head{
        @include tab{
            margin-bottom: 2.4rem;
        }
    }
    &__head-title{
        width: 178px;
        @include pc{
            width: 17.8rem;
        }
        @include tab{
            width: 17.4rem;
            margin-bottom: 3.2rem;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__left{
        width: 568px;
        @include pc{
            width: 62.5620%;
        }
        @include tab{
            width: 100%;
            margin-bottom: 4rem;
        }
    }
    &__right{
        width: 268px;
        @include pc{
            width: 26.8rem;
        }
        @include tab{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        @include sp{
            display: block;
        }
    }
    &__head3{
        margin-bottom: 21px;
        @include pc{
            margin-bottom: 2.1rem;
        }
        @include sp{
            margin-bottom: 2.3rem;
        }
    }
    &__twitter{
        margin-bottom: 30px;
        @include pc{
            margin-bottom: 3rem;
        }
        @include sp{
            margin-bottom: 4rem;
        }
    }
}
.instagram{
    width: 100%;
    text-align: center;
    &__head{
        display: inline-block;
        width: 195px;
        @include pc{
            width: 19.5rem;
        }
    }
    &__body{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.26);
    }
}
.twitter{
    width: 100%;
    text-align: center;
    @include tab{
        width: 26.8rem;
    }
    @include sp{
        width: 100%;
    }
    &__head{
        display: inline-block;
        width: 147px;
        @include pc{
            width: 14.7rem;
        }
    }
    &__body{
        height: 286px;
        overflow-y: scroll;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.26);
        @include pc{
            height: 28.6rem;
        }
        @include sp{
            height: 33.6rem;
        }
    }
}
.facebook{
    width: 100%;
    text-align: center;
    @include tab{
        width: 26.8rem;
    }
    @include sp{
        width: 100%;
    }
    &__head{
        display: inline-block;
        width: 169px;
        @include pc{
            width: 16.9rem;
        }
    }
    &__body{
        max-width: 500px;
        margin: 0 auto;
        height: 286px;
        overflow-y: scroll;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.26);
        @include pc{
            height: auto;
        }
        .fb-page{
            width: 100%;
            span{
                width: 100% !important;
            }
        }
        iframe{
            width: 100%;
        }
    }
}

//-------------------------------
//  Sidebar
//-------------------------------
.sidebar{
    width: 268px;
    @include pc{
        width: 100%;
    }
    &__inner{
        width: 100%;
    }
}
.banner{
    margin-bottom: 40px;
    @include pc{
        margin-bottom: 7.4rem;
    }
    &__items{
        position: relative;
    }
    &__swiper{
        overflow: visible;
        @include pc{
            width: 26.8rem;
        }
    }
    &__wrapper{
        display: block;
        @include pc{
            display: flex;
            align-items: center;
        }
    }
    &__slide{
        display: block;
        margin-bottom: 16px;
        @include pc{
            margin-bottom: 0;
        }
    }

}
.ranking{
    margin-bottom: 40px;
    @include pc{
        margin-bottom: 4rem;
    }
    &__head-title{
        width: 228px;
        @include pc{
            width: 22.8rem;
        }
        @include tab{
            width: 22.4rem;
        }

    }
    &__ranking-item{
        margin-bottom: 9px;
        @include pc{
            margin-bottom: 0.9rem;
        }
    }
    &__items{
        @include pc{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &:after{
                content: '';
                width: 26.8rem;
            }
        }
        @include sp{
            justify-content: center;
        }
    }
}
.ranking-item{
    display: block;
    width: 268px;
    height: 108px;
    padding-bottom: 8px;
    border-bottom: solid 1px $color-green;
    position: relative;
    @include pc{
        width: 26.8rem;
        height: 10.8rem;
        padding-bottom: 0.8rem;
    }
    &__link{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__figure{
        width: 100px;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        @include pc{
            width: 10rem;
        }
        img{
            transform: scale(1);
            transition: transform 0.3s ease;
        }
    }
    &__body{
        width: 160px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 1;
        transition: opacity 0.3s ease;
        @include pc{
            width: 16rem;
        }
    }
    &__title{
        @include font-style(14px, $color-black,bold);
        line-height: 1.5;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @include pc{
            font-size: 1.4rem;
        }
    }
    &__post-time{
        margin-top: auto;
        text-align:right;
        @include font-style(12px, $color-black, 600);
        @include pc{
            font-size: 1.2rem;
        }
    }
    &:hover{
        .ranking-item__body{
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }
        .ranking-item__figure{
            img{
                transform: scale(1.1);
                transition: transform 0.3s ease;
                
            }
        }
    }
    &:after{
        content: attr(data-item);
        @include font-style(24px, $color-white, bold);
        width: 41px;
        height: 41px;
        border-radius: 8px 0 0 0;
        background-color: $color-green;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        @include pc{
            font-size: 2.4rem;
            width: 4.1rem;
            height: 4.1rem;
            border-radius: 0.8rem 0 0 0;
        }
    }
    &:nth-child(1){
        &:after{
            background-color: $color-rank1;
        }
    }
    &:nth-child(2){
        &:after{
            background-color: $color-rank2;
        }
    }
    &:nth-child(3){
        &:after{
            background-color: $color-rank3;
        }
    }
}

//-------------------------------
//  Footer
//-------------------------------
.footer{
    background-color: #E0EBD1;

    &__inner{
        padding: 80px 0 67px 0;
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 386px;
            height: 105px;
            background-image: url('../images/tree-icon.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            left: 0;
            bottom: 0;
            @include pc{
                width: 38.6rem;
                height: 10.5rem;
            }
            @include tab{
                width: 27.1rem;
                height: 7.4rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &:after{
            content: '';
            display: block;
            width: 66px;
            height: 58px;
            background-image: url('../images/leaf-icon.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 0;
            bottom: 24px;
            @include pc{
                width: 6.6rem;
                height: 5.8rem;
            }
            @include tab{
                display: none;
            }
        }
        @include pc{
            padding: 8rem 0 6.7rem 0;
        }
        @include tab{
            padding: 2.4rem 0 11.4rem 0;
        }
    }
    &__logo{
        text-align: center;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        @include tab{
            flex-direction: column;
        }
    }
    &__left{
        margin: 24px 0 0 124px;
        @include pc{
            margin: 2.4rem 0 0 12.4rem;
        }
        @include tab{
            margin: 2.4rem 0 2.2rem 0;
            text-align: center;
        }
    }
    &__sns{
        margin-bottom: 38px;
        @include pc{
            margin-bottom: 3.8rem;
        }
        @include tab{
            display: block;
        }
    }
    &__copyright{
        @include font-style(12px, $color-white, normal);
        padding: 12px 0;
        text-align: center;
        background-color: $color-green;
    }
}
.company{
    &__name{
        @include font-style(16px, $color-black, normal);
        line-height: 1.5;
        @include pc{
            font-size: 1.6rem;
        }
    }
    &__address{
        list-style: none;
        @include font-style(16px, $color-black, normal);
        line-height: 1.5;
        @include pc{
            font-size: 1.6rem;
        }
    }
}
.site-map{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &.open{

    }
    @include pc{
        flex-direction: column;
    }
    @include tab{
        background-color: $color-green;
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        padding: 1.2rem 0 0.6rem 0;
        display: none;
    }
    &__title{
        display: none;
        @include tab{
            width: 100vw;
            margin: 0 calc(50% - 50vw);
            display: block;
            @include font-style(1.6rem, $color-white, bold);
            padding: 1rem 0;
            background-color: $color-green;

        }
        .fa-list{
            @include font-style(2rem, $color-white, bold);
            margin-right: 1rem;
        }
        .fa-caret-down{
            @include font-style(2rem, $color-white, bold);
            margin-left: 2rem;
        }
    }
    &__list{
        margin: 0 28px;
        @include pc{
            margin: 0 2.8rem;
        }
        @include tab{
            margin: 0 auto;
        }
    }
    &__list--second{
        padding-left: 12px;
    }
    &__item{
        padding: 12px 0;
    }
    &__item--second{
        padding: 6px 0;
    }
    &__link{
        @include font-style(16px, $color-black, bold);
        line-height: 1;
        text-decoration: underline;
    }
    &__link--second{
        @include font-style(14px, $color-black, normal);
        line-height: 1;
        i{
            margin-right: 8px;
        }
    }
    .site-map__link{
        @include tab{
            font-size: 1.6rem;
            color: $color-white;
        }
    }
    .site-map__link--second{
        @include tab{
            font-size: 1.4rem;
            color: $color-white;
        }
    }
}

//-------------------------------
//  Floating
//-------------------------------
.floating{
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
    width: 120px;
    height: auto;
    filter: brightness(100%);
    transform: scale(1);
    transition: filter 0.3s ease transform 0.3s ease;
    z-index: 99;
    &:hover{
        filter: brightness(120%);
        transform: scale(1.02);
        transition:filter 0.3s ease, transform 0.3s ease;
    }
    @include pc{
        width: 12rem;
    }
    @include tab{
        width: 6.4rem;
        right: 2.4rem;
        bottom: 2.4rem;
    }
}