@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';

//-------------------------------
//  All-page-common-css
//-------------------------------

//IEのみテキストをメイリオに変更
@media all and (-ms-high-contrast:none){
    html{
        font-family: $font-ie;
    }
}
html{
    font-family: $font;
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1920 * 100) + vw;
    @include pc{
        font-size: calc(10 / 1200 * 100) + vw;
    }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 375 * 100) + vw;
    }
}
body{
    width: 100%;
    font-size: 1.6rem;

    position: relative;
    background-image: url('../images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img[src$=".svg"]{
    width: 100%;
    height: auto;
}
.wrapper{
    width: 100%;
    overflow: hidden;
}
.container{
    width: 1168px;
    margin: 0 auto;
    @include pc-tab{
        width: 84vw;
    }
    @include tab{
        width: 84vw;
    }
}
.br-pc{
    @include tab{
        display: none
    }
}
.br-sp{
    display: none;
    @include sp{
        display: block;
    }
}
//-------------------------------
//  Logo
//-------------------------------
.logo{
    width: 368px;
    @include pc{
        width: 36.8rem;
    }
    @include tab{
        width: 24.8rem;
    }
}
//-------------------------------
//  h2
//-------------------------------
@import '_h2.scss';

//-------------------------------
//  link-btn
//-------------------------------
@import '_link-btn.scss';


//-------------------------------
//  Section-margin
//-------------------------------
.section-margin{
    margin-bottom: 80px;
    @include pc{
        margin-bottom: 8rem;
    }
    &_size_s{
        margin-bottom: 40px;
        @include pc{
            margin-bottom: 4rem;
        }
    }
}
//-------------------------------
//  header
//-------------------------------
@import 'header/_header.scss';

//-------------------------------
//  main-visual
//-------------------------------
@import '_mainvisual.scss';

// Swiperの上書き用CSS
@import '_swiper.scss';

//-------------------------------
//  News
//-------------------------------
@import '_news.scss';

//-------------------------------
//  Type-select
//-------------------------------
@import '_type-select.scss';


//-------------------------------
//  Contents
//-------------------------------
.contents{
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

//-------------------------------
//  Main
//-------------------------------
.main{
    width: 868px;
    @include pc{
        width: 100%;
    }
}

//////  Blog  ///////////////////
@import 'main/_blog.scss';


//////  sub-navigation  ////////
@import 'main/_sub-navigation.scss';


//////  tourism-info  //////////
@import 'main/_tourism-info.scss';


//////  SNS-field  ////////////
@import 'main/_sns.scss';


//-------------------------------
//  Sidebar
//-------------------------------
.sidebar{
    width: 268px;
    @include pc{
        width: 100%;
    }
    &__inner{
        width: 100%;
    }
}
.banner{
    margin-bottom: 40px;
    @include pc{
        margin-bottom: 7.4rem;
    }
    &__items{
        position: relative;
    }
    &__swiper{
        overflow: visible;
        @include pc{
            width: 26.8rem;
        }
    }
    &__wrapper{
        display: block;
        @include pc{
            display: flex;
            align-items: center;
        }
    }
    &__slide{
        display: block;
        margin-bottom: 16px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover{
            transform: scale(1.03);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.26);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        @include pc{
            margin-bottom: 0;
        }
    }

}
.ranking{
    margin-bottom: 40px;
    @include pc{
        margin-bottom: 4rem;
    }
    &__head-title{
        width: 228px;
        @include pc{
            width: 22.8rem;
        }
        @include tab{
            width: 22.4rem;
        }

    }
    &__ranking-item{
        margin-bottom: 9px;
        @include pc{
            margin-bottom: 0.9rem;
        }
    }
    &__items{
        @include pc{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &:after{
                content: '';
                width: 26.8rem;
            }
        }
        @include sp{
            justify-content: center;
        }
    }
}
.ranking-item{
    display: block;
    width: 268px;
    height: 108px;
    padding-bottom: 8px;
    border-bottom: solid 1px $color-green;
    position: relative;
    @include pc{
        width: 26.8rem;
        height: 10.8rem;
        padding-bottom: 0.8rem;
    }
    &__link{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__figure{
        width: 100px;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        @include pc{
            width: 10rem;
        }
        img{
            transform: scale(1);
            transition: transform 0.3s ease;
        }
    }
    &__body{
        width: 160px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 1;
        transition: opacity 0.3s ease;
        @include pc{
            width: 16rem;
        }
    }
    &__title{
        @include font-style(14px, $color-black,bold);
        line-height: 1.5;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @include pc{
            font-size: 1.4rem;
        }
    }
    &__post-time{
        margin-top: auto;
        text-align:right;
        @include font-style(12px, $color-black, 600);
        @include pc{
            font-size: 1.2rem;
        }
    }
    &:hover{
        .ranking-item__body{
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }
        .ranking-item__figure{
            img{
                transform: scale(1.1);
                transition: transform 0.3s ease;
                
            }
        }
    }
    &:after{
        content: attr(data-item);
        @include font-style(24px, $color-white, bold);
        width: 41px;
        height: 41px;
        border-radius: 8px 0 0 0;
        background-color: $color-green;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        @include pc{
            font-size: 2.4rem;
            width: 4.1rem;
            height: 4.1rem;
            border-radius: 0.8rem 0 0 0;
        }
    }
    &:nth-child(1){
        &:after{
            background-color: $color-rank1;
        }
    }
    &:nth-child(2){
        &:after{
            background-color: $color-rank2;
        }
    }
    &:nth-child(3){
        &:after{
            background-color: $color-rank3;
        }
    }
}

//-------------------------------
//  Footer
//-------------------------------
@import 'footer/_footer.scss';


//-------------------------------
//  Floating
//-------------------------------
@import 'footer/_floating.scss';
