@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';
@import 'common/_animation';

//-------------------------------
//  All-page-common-css
//-------------------------------
html{
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1920 * 100) + vw;
    // @include pc{
    //     font-size: calc(10 / 1200 * 100) + vw;
    // }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 375 * 100) + vw;
    }
}
body{
    font-size: 1.6rem;
    font-family: $font;
    position: relative;
    line-height: 1;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    // vertical-align: middle;
}
.wrapper{
    width: 100%;
    overflow-x: hidden;
}
.container{
    width: 1168px;
    margin: 0 auto;
    @include pc-tab{
        width: 84vw;
    }
    @include tab{
        width: 84vw;
    }
}
.br-pc{
    @include tab{
        display: none
    }
}

//-------------------------------
//  h2
//-------------------------------
.head-title{
    height: auto;
    position: relative;
    padding-left: 1.6rem;
    @include wide-pc{
        padding-left: 16px;
    }
    @include tab{
        padding-left: 1.2rem;
    }
    &:before{
        content: '';
        display: inline-block;
        width: 8px;
        height: 4rem;
        border-radius: 4px;
        background-color: $color-green;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include wide-pc{
            height: 40px;
        }
        @include tab{
            width: 4px;
            border-radius: 2px;
        }
    }
}

//-------------------------------
//  link-btn
//-------------------------------
.link-btn{
    @include font-style(1.6rem, $color-white, bold);
    display: inline-block;
    text-align: center;
    width: 26.8rem;
    height: 4.8rem;
    line-height: 4.8rem;
    border-radius: 2.4rem;
    background-color: $color-link;
    i{
        margin-left: 0.8rem;
    }
}

//-------------------------------
//  header
//-------------------------------
@import 'header/_header.scss';

//-------------------------------
//  main-visual
//-------------------------------
@import '_mainvisual.scss';

// Swiperの上書き用CSS
@import '_swiper.scss';

//-------------------------------
//  News
//-------------------------------
.news{
    text-align: center;
    position: relative;
    z-index: 10;
    transform: translateY(-18%);
    @include tab{
        transform: translateY(0);
        margin-top: 7.4rem;
    }
    &__box{
        width: 96.2rem;
        margin: 0 auto;
        background-color: $color-white;
        border: solid 4px $color-green;
        border-radius: 3rem;
        padding: 4.6rem 6.8rem;
        position: relative;
        @include wide-pc{
            width: 962px;
            border-radius: 30px;
            padding: 46px 68px;
        }
        @include tab{
            width: 100%;
            border: solid 2px $color-green;
            border-radius: 1.6rem;
            padding: 4.7rem 1.6rem 4rem 1.6rem;
        }
        &:before{
            content:'';
            background-color: $color-green;
            border: solid 4px $color-green;
            border-radius: 3rem;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 6px;
            left: 6px;
            z-index: -1;
            @include wide-pc{
                border-radius: 30px;
            }
            @include tab{
                border: solid 2px $color-green;
                border-radius: 1.6rem;
                top: 4px;
                left: 4px;
            }
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tab{
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__head-title{
        width: 11.2rem;
        @include tab{
            width: 10.8rem;
            margin-bottom: 3.2rem;
        }
        
    }
    &__items{
        width: 65.4rem;
        @include tab{
            width: 100%;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px $color-green;
        padding: 1.6rem 0;
        @include tab{
            flex-direction: column;
            align-items: flex-start;
            padding: 1.2rem 0;
        }
        &:last-child{
            border-bottom: solid 1px $color-green;
        }
    }
    &__post-time{
        @include font-style(1.6rem, $color-black, bold);
        line-height: 1;
        margin-right: 4rem;
        @include tab{
            font-size: 1.2rem;
            margin-right: 0;
            margin-bottom: 0.8rem;
        }
    }
    &__title{
        @include font-style(1.6rem, $color-black, normal);
        line-height: 1;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        @include tab{
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: left;
            -webkit-line-clamp: 2;
        }
    }
    &__circle01{
        position: absolute;
        top: 2rem;
        left: 2rem;
        @include tab{
            top: 1.2rem;
            left: 1.2rem;
        }
    }
    &__circle02{
        position: absolute;
        top: 2rem;
        right: 2rem;
        @include tab{
            top: 1.2rem;
            right: 1.2rem;
        }
    }
    &__circle03{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        @include tab{
            bottom: 1.2rem;
            right: 1.2rem;
        }
    }
    &__circle04{
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        @include tab{
            bottom: 1.2rem;
            left: 1.2rem;
        }
    }
    &__link-btn{
        margin-top: 3.8rem;
    }
}
.circle{
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border: solid 4px $color-green;
    border-radius: 50%;
    @include wide-pc{
        width: 18px;
        height: 18px;
    }
    @include tab{
        width: 1rem;
        height: 1rem;
        border: solid 2px $color-green;
    }
}